body {
    width: 100% background-color: red;


background-color: cornsilk}

//* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: lightsteelblue;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #4CAF50;
}

#bannerimg {
    width: 100%;
    height: auto;
}
.pic {
    position: absolute;
    width: 20%;
    margin: 1rem;
    top:400px;
    right: 40px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: lightgrey;
    border-style: solid;

}

.pic2 {
    position: absolute;
    width: 20%;
    margin: 1rem;
    top:400px;
    right: 40px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: lightgrey;
    border-style: solid;

}

.box {
    position: relative;
    width: 50%;
    margin: 1rem;
    padding: 2rem;
    color: #FFF;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: lightgrey;
    border-style: solid;
    background-color: lightsteelblue;
}
.box2 {
    position: relative;
    width: 40%;
    margin: 1rem;
    padding: 2rem;
    color: #FFF;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: lightgrey;
    border-style: solid;
    background-color: lightsteelblue;
}



